<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<button onclick="window.location.href='/add-product'">Add Product</button>

<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <!-- Clickable Product Name -->
        <td><a th:href="@{'/product/' + ${product.id}}" th:text="${product.name}"></a></td>

        <!-- Product Price -->
        <td th:text="${product.price}"></td>

        <!-- Edit Button -->
        <td><a th:href="@{'/edit-product/' + ${product.id}}">Edit</a></td>

        <!-- Delete Button with Confirmation -->
        <td>
            <button th:attr="onclick='return confirm(\'Are you sure you want to delete this product?\')'"
                    th:href="@{'/delete-product/' + ${product.id}}">
                Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
