<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Entries</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<button onclick="window.location.href='/add/entry'">Add Entry</button>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Store Address</th>
        <th>Quantity</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${entries}">
        <td th:text="${entry.id}"></td>
        <td th:text="${entry.product.name}"></td>
        <td th:text="${entry.store.address}"></td>
        <td th:text="${entry.quantity}"></td>
        <td><a th:href="@{'/edit/entry/' + ${entry.id}}">Edit</a></td>

        <td>
            <button th:onclick="|deleteEntry('${entry.id}')|">
                Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>

<script>
    function deleteEntry(entryId) {
        if (confirm('Are you sure you want to delete this entry?')) {
            fetch(`/api/entry/${entryId}`, {
                method: 'DELETE'
            })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    alert('Failed to delete entry.');
                }
            })
            .catch(error => console.error('Error:', error));
        }
    }
</script>
</body>
</html>
